.root {
  font-family: Georgia, Times New Roman, serif;
  font-size: 18px;
}

.head1 {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  margin-top: 10px;
  font-size: 35px;
  line-height: 37px;
  font-weight: normal;
  text-align: center;
  font-family: Georgia, Times New Roman, serif;
  letter-spacing: 0.05em;
}
